{% load mathfilters %}
{% load mytags %}


<div class="row">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <h4 class="text-white" style="margin-left: 15px;">Accounts:</h4>
        {% for account in user.profile.bank_accounts.all %}
        <a class="nav-link side-link1 {% if forloop.first %}active{% endif %}" id="v-pills-{{account.name}}-tab" data-toggle="pill" href="#v-pills-{{account.name}}" role="tab" aria-controls="v-pills-{{account.name}}" aria-selected="true">{{account.name}}</a>
        {% endfor %}
        <h4 class="text-white" style="margin-left: 15px;">Credit Cards:</h4>
        {% for card in user.profile.credit_cards.all %}
        <a class="nav-link side-link1" id="v-pills-{{card.name}}-card-tab" data-toggle="pill" href="#v-pills-{{card.name}}-card" role="tab" aria-controls="v-pills-{{card.name}}-card" aria-selected="true">{{card.name}}</a>
        {% endfor %}
        <a href="{% url 'add_bank_account' %}" class="btn-sm btn-outline text-white" style=" border: 1px white solid; margin: 5px; width: fit-content;">Add Bank Account</a>
        <a href="{% url 'add_credit_card' %}" class="btn-sm btn-outline text-white" style=" border: 1px white solid; margin: 5px; width: fit-content;">Add Credit Card</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        {% for account in user.profile.bank_accounts.all %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="v-pills-{{account.name}}" role="tabpanel" aria-labelledby="v-pills-{{account.name}}-tab">
            <div>
                <h3>{{account.name}}</h3>
                <p>Currency: {{account.currency.name}}</p>
                <p>Balance: {{account.balance}}</p>
                {% if account.currency.name == 'USD' %}
                {% convertMoney account.balance 'ILS' as balance_shekels %}
                <p>Current value in shekels: <span class="shekels">{{balance_shekels}}</span></p>
                
                {% elif account.currency.name == 'ILS' %}
                {% convertMoney account.balance 'USD' as balance_dollars %}
                <p>Current value in dollars: <span class="dollars">{{balance_dollars}}</span></p>
                {% endif %}
                <h4>Recent Transactions (last 30 days):</h4>
                <small>
                <table>
                    <tr>
                        <th>Date:</th>
                        <th>Type:</th>
                        <th>Description:</th>
                        <th>Ammount (USD):</th>
                        <th>Ammount (ILS):</th>
                    </tr>
                    {% for trans in account.transactions_thirty|dictsort:"date_time" %}
                    <tr>
                        <td>{{trans.date_time}}</td>
                        <td>{{trans|verbose_name}}</td>
                        <td>{{trans.description}}</td>
                        <td class="dollars">{{trans.amount_dollars}}</td>
                        <td class="shekels">{{trans.amount_shekels}}</td>
                        
                    </tr> 
                           
                    {% endfor %}
                </table>
            </small>
                <a href="{% url 'edit_bank1' account.id %}">Edit This Account</a>
                
                
                
                
            </div>
            
            
        </div>
        {% endfor %}
        {% for card in user.profile.credit_cards.all %}
        <div class="tab-pane fade" id="v-pills-{{card.name}}-card" role="tabpanel" aria-labelledby="v-pills-{{card.name}}-card-tab">
            
            <h3>{{card.name}}</h3>
            <p>Credit Limit: {{card.spending_limit}}</p>
            <p>Monthly Due day: {{card.due_day}}</p>
            <p>Balance Due: {{card.balance_due}}</p>
            {% if card.spending_limit_currency == 'USD' %}
            {% convertMoney card.balance_due 'ILS' as balance_due_shekels %}
            <p>Balance Due in shekels (current rate): {{balance_due_shekels}}</p>
            
            {% elif card.spending_limit_currency == 'ILS' %}
            {% convertMoney card.balance_due 'USD' as balance_due_dollars %}
            <p>Balance Due in dollars (current rate): {{balance_due_dollars}}</p>
            {% endif %}
            <p>Current Revolving Utilization: {{card.credit_utilization}}%</p>
            <a href="{% url 'edit_credit_card' card.id %}" class="btn-sm btn-outline" style="margin: 5px; width: fit-content;">Edit This Credit Card</a>
        
            <h4>Recent Transactions (last 30 days):</h4>
            <small>
            <table>
                <tr>
                    <th>Date:</th>
                    <th>Type:</th>
                    <th>Description:</th>
                    <th>Ammount (USD):</th>
                    <th>Ammount (ILS):</th>
                </tr>
                {% for trans in card.transactions_thirty|dictsort:"date_time" %}
                <tr>
                    <td>{{trans.date_time}}</td>
                    <td>{{trans|verbose_name}}</td>
                    <td>{{trans.description}}</td>
                    {% if trans|verbose_name == "credit card payment" %}
                    <td class="dollars">{{trans.amount_dollars| addition:trans.rewards_discounts_dollars}}</td>
                    <td class="shekels">{{trans.amount_shekels| addition:trans.rewards_discounts_shekels}}</td>
                    {% else %}
                    <td class="dollars">{{trans.amount_dollars}}</td>
                    <td class="shekels">{{trans.amount_shekels}}</td>
                    {% endif %}    
                </tr> 
                       
                {% endfor %}
            </table>
        </small>    

        </div>
        
        {% endfor %}
    </div>
    
</div>