{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
{% load bootstrap %}
FinTrack - Delete {{object}}
{% endblock %}
{% block content %}
<div class="add-form">
    <style>
        .select2-container {
            color: black;
        }
    </style>
    <h2>Delete {{Object}}:</h2>

    
    <form method="post">{% csrf_token %} 
        <p>Are you sure you want to delete "{{ object }}"?</p> 
        <input type="submit" value="Confirm"> 
    </form> 
    
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{form.media}}
</div>
{% endblock %}